<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>

  <button mat-icon-button (click)="onCreate()" class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    <mat-icon>add_box</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>    <!--buttonの部分はangular materialのsidenaviの仕組み部分-->
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p><!--ダイアログの操作-->
    <button (click)="showFiller = !showFiller" mat-raised-button> <!--ダイアログの操作-->
      Toggle extra text
    </button>

    <form #form="ngForm" novalidate>
      <mat-form-field appearance="fill">
        <mat-label>検索名</mat-label>
        <input matInput type="text" #nickname="ngModel" [(ngModel)]="query.title.$regex" minlength="2" maxlength="100" required> <!--#nickname="ngModel"は呪文　mmaxlengthに書いた数値が最大数となりそれ以上記入することはできない-->
        <mat-hint>100字まで</mat-hint>
        <mat-error *ngIf="nickname.errors?.['required']">必須です。</mat-error>
        <mat-error *ngIf="nickname.errors?.['minlength']">短すぎます</mat-error>
      </mat-form-field>
    </form>

    <button (click)="onFindByTitle()">Search</button>
    <button (click)="query.title.$regex='';onFindByTitle()">Reset</button> <!--search→"query.title.$regex"直接代入に変更-->
  </mat-drawer>

  <mat-card fxFill>
    <div class="example-sidenav-content">

      <mat-list fxLayout="column" fxLayoutAlign="space-between">
        <mat-list-item *ngFor="let memo of memo_list" fxLayout="row">
          <div>{{memo.title}}</div>
          <button (click)="onUpdate(memo)">更新</button><!--onUpdateがクリックされたらcomponent.tsのonUpdateにデータを渡す memoは引数-->
          <button (click)="onDelete(memo)">削除</button><!--onDeleteがクリックされたらcomponent.tsのonUpdateにデータを渡す memoは引数-->
          <mat-checkbox class="example-margin">重要</mat-checkbox>
        </mat-list-item>
        <button (click)="onNext()">次へ</button>
        {{count}}
        <button (click)="onPrev()">戻る</button>
      </mat-list>
    </div>
  </mat-card>


</mat-drawer-container>


<!--
<ol>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>


-->
